<html>
  <head>
    <title>Questions and Answers</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
  <h1>Submit A Question</h1>
  <form method="get" action="/add">
  <label for="id">Question Id:</label>
  <input type="text" id="id" name="id"/><br/>
  <label for="question">Question:</label>
  <input type="text" id="question" name="question"/><br/>
  <label for="answer">Answer:</label>
  <input type="text" id="answer" name="answer"/><br/>
  <label for="tags">Tags:</label>
  <input type="text" id="tags" name="tags"/><br/>
  <label for="source">Source:</label>
  <input type="text" id="source" name="source"/><br/>
  <input type="submit" value="Add this question"/>
  </form>
  {%- if let Some(error) = error -%}
  <div class="error">{{error}}</div>
  {%- endif -%}
  </body>
</html>